<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17615649211-n1ug90m34f4r3btbfniqla5k8h9c35vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17615649211-n1ug90m34f4r3btbfniqla5k8h9c35vc</string>
	<key>API_KEY</key>
	<string>AIzaSyCZdwQHTgMjrj1S_5fBA91SFX_P_ciwkOE</string>
	<key>GCM_SENDER_ID</key>
	<string>17615649211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.movie-tinder</string>
	<key>PROJECT_ID</key>
	<string>movie-tinder-da40c</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-tinder-da40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17615649211:ios:c4e2d23e59e508d1102c9e</string>
</dict>
</plist>